    <form class="m-0 p-0" method="POST" action="{% url "update_perfil" %}" > {% csrf_token %}
        <div class="col-md-12 bg-white py-4 rounded-3">
            <h2 class="d-flex justify-content-center">Modificar Datos</h2>
            <div class="row m-1">
                <div class="col-md-6">
                    <label for="fname">Nombre * </label>
                    <input type="text" class="form-control" placeholder="John" name="fname" id="" required>
                </div>
                <div class="col-md-6">
                    <label for="sname">Apellido * </label>
                    <input type="text" class="form-control" placeholder="Doe" name="sname" id="" required>
                </div>
            </div>
            <div class="row m-1">
                <div class="col-md-6">
                    <label for="dbirth">Fecha de Nacimiento *</label>
                    <input type="date" class="form-control" placeholder="Fecha Nacimiento" name="dbirth" id="dbirth" required>
                </div>
                <div class="col-md-6">
                    <label for="relation">Situacion Sentimental</label>
                    <select name="relation" class="form-control">
                        <option value="">-</option>
                        <option value="S">Soltero/a</option>
                        <option value="C">Casado/a</option>
                        <option value="R">en una Relacion</option>
                        <option value="CC">Es Complicado</option>
                        <option value="D">Divorciado/a</option>
                    </select>
                </div>
                <div id="error-message-dbirth"></div>
            </div>
            <div class="row m-1">
                <div class="col-md-12">
                    <label for="gender">Género *</label>
                    <select name="gender" class="form-control" id="" required>
                        <option value="">-</option>
                        <option value="M">Masculino</option>
                        <option value="F">Femenino</option>
                        <option value="O">Otro</option>
                        <option value="N">No especificar</option>
                    </select>
                </div>
            </div>
            <div class="row m-1">
                <div class="col-md-12">
                    <label for="location">Lugar Residencia</label>
                    <input type="text" class="form-control" placeholder="Av. 16 Guajira con C2 prolongacion" name="location">
                </div>
            </div>
            <div class="row pt-4">
                <div class="col-md-12 d-flex justify-content-center">
                    <button class="btn btn-primary" type="submit" id="registrar">Actualizar</button>    
                </div>
            </div>
        </div>    
    </form>