<section class="container-fluid">
  <div class="row">
    <div class="col px-0 portada-container">
      <img class="img" src="{{ MEDIA_URL }}{{ perfil.9 }}" alt="Foto de perfil">
      </div>
    </div>
    <div class="row border-bottom">
      <div class="col-12 py-2 px-5">
        <div class="gap-2 d-flex justify-content-end align-items-first">
          <button type="button" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold" id="btn_actualizar">Actualizar perfil</button>
          <button id="Actualizarfotoportada" type="button" class="btn btn-outline-secondary btn-lg px-4">Actualizar Foto Portada</button>
        </div>
      </div>
    </div>
  </section>